@charset "UTF-8";

body{
	text-align: center;
	font-family: serif;
	font-size: 20px;
	width:100%;
	margin:auto;
	background-color: skyblue;
}
h1{
	font: normal;
	font-family: serif;
	text-align: center;
	padding:10px;
}

.mainDiv{
	text-align: center;
	margin-left:40%;
	
}

.titleTD{
	font-weight:bold;
	text-align: right;
}

.dataTD{
	text-align: left;
}

.submitBtn{
	font-weight:bold;
	text-align: right;
}

.resetBtn{
	font-weight:bold;
	text-align: left;
}

.mainP{
	font: normal;
	font-family: serif;
	text-align: center;
	padding:15px;
}